"-- Load global gvimrc -------------------------------------------------
source ~/.vim/gvimrc.vim

"-- window positioning -------------------------------------------------
"" Set window position at top left of screen
winpos 0 0

"-- window size ---------------------------------------------------------
" Tells gvim that we will not be using any of that toolbar crud and size
" the window appropriately
set guiheadroom=-20
" Deprecated window size... only thing that works for me on Ubuntu :P
winsize 152 65
" 'Modern' way of setting window size
set lines=65 columns=152

"-- font ----------------------------------------------------------------
" Envy Code R is available for free here:
" http://damieng.com/blog/2008/05/26/envy-code-r-preview-7-coding-font-released
" It is the single best programming font I've come across, though your
" tastes might differ from mine...
set guifont=Envy\ Code\ R\ 11

"-- window appearance --------------------------------------------------
" turn on a nice syntax theme.  Here's a list of ones I like:
" - twilight
" - xoria256
" - jellybeans
" - zen-and-art, which does not point to the original, but one that
"   I have uglified for PHP and other nasty things
filetype plugin on
colorscheme zen-and-art

"-- statusline ---------------------------------------------------------
" I used to have a 'custom' one here, but powerline is so nice that I
" moved to it instead.  You need to hack your font for it to look its
" nicest, but whatever.  It's fine even if you don't, however.
"
" To hack your font, first install fontforge and python-fontforge.  Then
" install everything with the install.sh.  Make a backup of your current
" font.  Then run the script
"  ~/.vim/bundle/vim-powerline/fontpatcher/fontpatcher [path to your font]
" Obviously you need a *nix machine to do this on...
set laststatus=2
